* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    width: 95%;
    margin: 0 auto;
    max-width: 1900px;
}

.top div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top img {
    width: 40px;
}

header {
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    width: 170px;
    position: fixed;
    top: 100px;
    left: 10px;
    background-color: bisque;
}

.menu ul img {
    width: 44px;
    vertical-align: middle;
}

.menu ul {
    list-style: none;
}

.menu a {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.menu a:hover {
    background-color: rgb(222, 160, 221);
}

section {
    padding-top: 100px;
}
.best {
    width: 90%;
    margin: 0 auto;
    max-width: 1900px;
}

.mail_container {
    padding-left: 190px;
    
}

.mail {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 10%;
    min-width: 150px;
    
}

.friends img {
    width: 15px;
}

.text_container {
    display: flex;
    width: 90%;
    min-width: calc(100% - 150px);
    justify-content: space-between;
}

.text {
    display: flex;
    width: calc(100% - 85px);
}

.mail img {
    width: 15px;
}

.date {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text p {
    color:rgb(131, 127, 131);
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text p::before {
    content: ' - ';
    color:rgb(36, 35, 36)
}

@media screen and (max-width: 800px) {
    .mail {
        flex-direction: column;
        position: relative;
    }

    .text {
        flex-direction: column;
        padding-left: 25px;
        width: 100%;
    }

    .text p::before {
        content: '';
    }

    .date {
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

@media screen and (max-width: 550px) {
    .menu {
        width: 70px;
    }

    .menu a span {
        display: none;
    }

    .mail_container {
        padding-left: 90px;
    }
}